p {
    @include margin (3%);

    display: $pdisplay;
    justify-content: right;
    color: $pcolor;
    font-size: 135%;
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 6px;

}
    

.segundoparrafo {
        @include margin (3%);

        display: $pdisplay;
        justify-content: right;
        color: $pcolor;
        font-size: 112%;
        font-family: 'Source Sans Pro', sans-serif;
    
    }

    .parrafofoto {
        @include margin (3%); 

        display: $pdisplay;
        justify-content: flex-start;
    }

    .parrats {
        font-family: 'Nerko One', cursive;
        margin-left: 10px;
    
    }

    .pfestival a {
        @include margin (2%);
        
        display: $pdisplay;
        justify-content: flex-start;
        text-decoration: dashed;
        color: black;
        font-size: 25px;
        font-family: 'Signika Negative', sans-serif;
    }
   

   

   

